jupyter~=1.0.0
keras>=2.2.4
matplotlib~=3.0.0
notebook~=5.7.0
numpy~=1.15.2
pandas~=0.23.4
scikit-learn~=0.20.0
scipy~=1.1.0
tensorflow>=1.10.0
networkx>=2.2
Pillow==5.3.0  # necessary to matplotlib to load png
tqdm~=4.28  # used here and there
