accelerate==2.3.0
accelerate_cudalib==2.0
bokeh==0.12.1
cffi==1.6.0
backports.shutil_get_terminal_size==1.0.0
blas==1.1
ca-certificates==2016.8.2
cairo==1.12.18
certifi==2016.8.2
cycler==0.10.0
cython==0.24.1
decorator==4.0.10
entrypoints==0.2.2
fontconfig==2.11.1
freetype==2.6.3
gettext==0.19.7
glib==2.48.0
h5py==2.6.0
harfbuzz==1.0.6
hdf5==1.8.17
icu==56.1
ipykernel==4.3.1
ipython==5.1.0
ipywidgets==5.2.2
jinja2==2.8
jpeg==9b
jsonschema==2.5.1
jupyter_client==4.3.0
jupyter_console==5.0.0
jupyter_core==4.1.1
libffi==3.2.1
libiconv==1.14
libpng==1.6.24
libsodium==1.0.10
libtiff==4.0.6
libxml2==2.9.4
markupsafe==0.23
matplotlib==1.5.2
mistune==0.7.3
nbconvert==4.2.0
nbformat==4.0.1
ncurses==5.9
nose==1.3.7
notebook==4.2.2
numpy==1.11.1
openblas==0.2.18
openssl==1.0.2h
pandas==0.18.1
pango==1.40.1
path.py==8.2.1
pcre==8.38
pexpect==4.2.0
pickleshare==0.7.3
pip==8.1.2
pixman==0.32.6
prompt_toolkit==1.0.6
protobuf==3.0.0b3
ptyprocess==0.5.1
pygments==2.1.3
pyparsing==2.1.7
python==3.5.2
python-dateutil==2.5.3
pytz==2016.6.1
pyyaml==3.11
pyzmq==15.4.0
qt==4.8.7
qtconsole==4.2.1
readline==6.2
requests==2.11.0
scikit-learn==0.17.1
scipy==0.18.0
setuptools==25.1.6
simplegeneric==0.8.1
sip==4.18
six==1.10.0
sqlite==3.13.0
terminado==0.6
tk==8.5.19
tornado==4.4.1
traitlets==4.2.2
wcwidth==0.1.7
wheel==0.29.0
widgetsnbextension==1.2.6
xz==5.2.2
yaml==0.1.6
zeromq==4.1.5
zlib==1.2.8
cudatoolkit==7.5
ipython_genutils==0.1.0
jupyter==1.0.0
libgfortran==3.0.0
llvmlite==0.11.0
mkl==11.3.3
mkl-service==1.1.2
numba==0.26.0
pycparser==2.14
pyqt==4.11.4
snakeviz==0.4.11
backports.shutil-get-terminal-size==1.0.0
certifi==2016.8.2
cycler==0.10.0
cython==0.24.1
decorator==4.0.10
h5py==2.6.0
ipykernel==4.3.1
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
jinja2==2.8
jsonschema==2.5.1
jupyter-client==4.3.0
jupyter-console==5.0.0
jupyter-core==4.1.1
keras==1.0.7
mako==1.0.4
markupsafe==0.23
matplotlib==1.5.2
mistune==0.7.3
nbconvert==4.2.0
nbformat==4.0.1
nose==1.3.7
notebook==4.2.2
numpy==1.11.1
pandas==0.18.1
path.py==8.2.1
pexpect==4.2.0
pickleshare==0.7.3
pip==8.1.2
prompt-toolkit==1.0.6
ptyprocess==0.5.1
pygments==2.1.3
pyparsing==2.1.7
python-dateutil==2.5.3
pytz==2016.6.1
pyyaml==3.11
pyzmq==15.4.0
qtconsole==4.2.1
requests==2.11.0
scikit-learn==0.17.1
scipy==0.18.0
simplegeneric==0.8.1
six==1.10.0
terminado==0.6
theano==0.8.2
tornado==4.4.1
traitlets==4.2.2
wcwidth==0.1.7
wheel==0.29.0
widgetsnbextension==1.2.6
